/* global */
:root {
    --font-color: #2b2b2b;
    --background-color: #fafafa;
    --accent-color: #7e6741;
    --accent-color-two: #bbbbbb;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 400;
    color: var(--font-color);
    font-family: 'Roboto Mono', 'Montserrat', 'Verdana', sans-serif;
    background-color: var(--background-color);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    z-index: 1000;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    padding: 45px 20px;
}

h1, h3, h4, h5, h6, p, a{
    font-size: 1.6rem;
}

h2 {
    font-size: 3.2rem;
}

a {
    text-decoration: none;
}

h1:hover, a:hover, a.active {
    cursor: pointer;
    color: var(--accent-color-two);
}

.nav-links, .contact {
    display: flex;
    gap: 15px;
}

/* hamburger menu */
.hamburger {
    display: none;
}

/* home section */
.home {
    width: 100%;
    height: 95vh;
}

.screensaver-container {
    width: 100%;
    height: 100%;
}

.screensaver-text {
    display: inline-block;
    filter: blur(3px);
    transition: filter 0.3s ease;
    cursor: pointer;
}

/* ATM section */

.atm-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 15px;
}

.atm-container video {
    width: calc(100% - 30vw);
    background-color: black;
    margin: 10px 0;
}

.atm-awards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.festival-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
}

.festival-list h5 {
    padding: 0 15px;
}

/* gallery section */
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
  
.gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    cursor: pointer;
    overflow: hidden;
    transition: filter 0.3s ease;
    filter: blur(3px);
}

.gallery-item:hover {
    filter: blur(0px);
}

.gallery-item .video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 95%, 0.95);
    z-index: 3000;
    cursor: n-resize;
}

.modal-content {
    background: none;
}

.modal video {
    object-fit: contain;
    height: 90vh;
    width: 90vw;
    background: none;
}

/* btn */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.mute-btn {
    display: none;
    visibility: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: transparent;
}

/* Middle styles */
@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr)
    }

    .nav-links {
        display: none;
    }

    .contact {
        display: none;
    }

    .atm-container {
        height: 100%;
        margin-bottom: 20px;
        align-items: start;
    }

    .festival-list {
        text-align: left;
        justify-content: left; 
        text-align: left;
    }

    .atm-container video {
        width: 100%;
        margin: 50px 0;
    }

    .atm-awards {
        align-items: start;
    }

    .festival-list h5 {
        padding: 0px;
    }

    /* hamburger section */
    .hamburger {
        display: block;
        position: fixed;
        right: 17px;
        top: 4px;
        font-size: 2rem;
        z-index: 2000;
        border: none;
        cursor: pointer;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        z-index: 1000;
    }

    .nav-links a {
        font-size: 2rem;
    }
    
    .contact.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 20px;
        left: 20px;
        align-items: left;
        width: 100%;
        height: auto;
        z-index: 1000;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr)
    }

    .mute-btn {
        visibility: visible;
    }
      
    .gallery-item {
        transition: none;
        aspect-ratio: auto;
        filter: blur(0px);
    }

    .gallery-item:hover {
        filter: blur(0px)
    }
    
    .gallery-item .video {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}